# =============== #
# Unity generated #
# =============== #
/.consulo/
/Temp/
/Obj/
/UnityGenerated/
/Library/
#Build/ need for FMOD audio banks
/StreamingAssets/
fmod_editor.log

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon?#
ehthumbs.db
Thumbs.db
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
#Assets/Tools/InControl/Source/VersionInfo.cs
Assets/Tools/InControl/Source/XInput/XInputInterface.dll.meta
Assets/Tools/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/Tools/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/Tools/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Build/PartyBuild_Data/resources.assets

Assets/CinemachineExamples/*

# ============ #
# JetBtains    #
# ============ #
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
.idea
Assets/Advanced INI Parser/Example code, how to save and load game data.pdf
Assets/Advanced INI Parser/Example code, how to save and load game data.pdf.meta
Assets/Advanced INI Parser/How to use.pdf
Assets/Advanced INI Parser/How to use.pdf.meta
.vs/



# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
#/[Bb]uild/ need for FMOD audio banks
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties
Assets/NavMeshComponents-2018.3/Documentation*
Assets/nu Assets/Easy Combine/Demo/*
Assets/ProCore/Polybrush/Example/*
Assets/HoudiniEngineAssetCache/Working/grid1x1group.meta
Assets/HoudiniEngineAssetCache/Working/HoudiniCurve-709498.meta
Assets/HoudiniEngineAssetCache/Working/HEU_Example_Unity_Script.meta
Assets/HoudiniEngineAssetCache/Working/HEU_Example_Unity_Script 1.meta
Assets/HoudiniEngineAssetCache/Working/EverGreen.meta
Assets/AmplifyShaderEditor/Examples/Official/SimpleTerrain/ApplyGrassWindToTerrain.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/Official/Mosaic Effect PPS/MosaicEffectPPS.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/Official/CustomRTRain/Custom RT Samples.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/LW SRP Samples.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/LW SRP Samples (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Examples/HD SRP Samples.unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/USRPTemplates.unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/LWSRPTemplates.unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/LWSRPTemplates 4xx (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/LWSRPTemplates (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP (Legacy).meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/PPStackTemplates.unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/CustomRTTemplates.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/Universal SRP Samples.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/Official/Substance2018/Substance2018.unitypackage.meta
Assets/AmplifyShaderEditor/Examples/Official/Substance/LegacySubstanceExample.unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/HDSRPTemplates 572 (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/HDSRPTemplates 4xx (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/HDSRPTemplates (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP (Legacy)/LWSRPTemplates 3xx (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP (Legacy)/HDSRPTemplates 5xx (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP (Legacy)/HDSRPTemplates 3xx (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Examples/HD SRP Samples (Legacy).unitypackage.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP/HDSRPTemplates.unitypackage.meta
Assets/Cinemachine/CinemachineExamples.unitypackage.meta
Assets/CinemachineExamples/Shared.meta
Assets/CinemachineExamples/Scenes.meta
Assets/CinemachineExamples.meta
Assets/Cinemachine/Timeline/LegacyTimelineAPI.unitypackage.meta
Assets/HoudiniEngineAssetCache/Working/terrain.meta
Assets/HoudiniEngineAssetCache/Working/terrain 1.meta
Assets/HoudiniEngineAssetCache/Working/sengi_thorns.meta
Assets/HoudiniEngineAssetCache/Working/terrain3.meta
Assets/HoudiniEngineAssetCache/Working/terrain2.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator 5.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator 1.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator 4.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator 3.meta
Assets/HoudiniEngineAssetCache/Working/thornsOperator 2.meta
Assets/HoudiniEngineAssetCache/Working.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/Goblin Archer (2,5D Puppets).unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/Final-IK.unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration/VRIK LeapMotion (Unity 5.6.1).unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration/Steam VR.unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration/Playmaker.unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration/Oculus.unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/Ootii's Motion Controller v2.73 (Unity 5.5.0).unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/Invector's Third Person Controller - Basic Locomotion FREE (v 1.0c).unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/UNet.unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/UMA 2.6.2 (Unity 5.6.1.f1).unitypackage.meta
Assets/Plugins/RootMotion/PuppetMaster/_Integration/Opsive's Third Person Controller v1.3.10.unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration/IK Jobs (Unity 2018.2.4f1).unitypackage.meta
Assets/Plugins/RootMotion/FinalIK/_Integration.meta
Assets/temp/New SpeedTree Materials/LOD0.meta
Assets/temp/New SpeedTree Materials.meta
Assets/backup.meta
Assets/Prefabs.meta
Assets/Plugins/FMOD/Resources.meta
Assets/ParadoxNotion/NodeCanvas/Editor/Drawers.meta
Assets/ParadoxNotion/CanvasCore/Framework/Runtime/Events.meta
Assets/FMODStudioCache.asset.meta
Assets/DOTween Examples.meta
Assets/ParadoxNotion/CanvasCore/Common/Runtime/Animation.meta
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/SRP (Legacy)/HDSRPTemplates 6xx (Legacy).unitypackage.meta
Assets/BOXOPHOBIC/Advanced Dynamic Shaders/Demo/
Assets/BOXOPHOBIC/Utils/ASE Templates.meta
Assets/Resources/CutScene.mp4
Assets/Resources/CutScene.mp4.meta
Assets/Plugins/Sirenix/Demos.meta
Assets/Library/Images/Ui/Ui.meta
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/StreamingAssets/Ambient.bank
Assets/StreamingAssets/Ambient.bank.meta
Assets/StreamingAssets/Build.bank
Assets/StreamingAssets/Build.bank.meta
Assets/StreamingAssets/Creature.bank
Assets/StreamingAssets/Creature.bank.meta
Assets/StreamingAssets/Event.bank
Assets/StreamingAssets/Event.bank.meta
Assets/StreamingAssets/Gameplay.bank
Assets/StreamingAssets/Gameplay.bank.meta
Assets/StreamingAssets/Interaction.bank
Assets/StreamingAssets/Interaction.bank.meta
Assets/StreamingAssets/Master.bank
Assets/StreamingAssets/Master.bank.meta
Assets/StreamingAssets/Master.strings.bank
Assets/StreamingAssets/Master.strings.bank.meta
Assets/StreamingAssets/Music.bank
Assets/StreamingAssets/Music.bank.meta
Assets/StreamingAssets/Nature.bank
Assets/StreamingAssets/Nature.bank.meta
Assets/StreamingAssets/UI.bank
Assets/StreamingAssets/UI.bank.meta
